{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">

            <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>

        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
            {% endfor %}
        </div>
    {% if not previous_book.pub_date  is None %}
        <a class="button button-primary" href="http://127.0.0.1:8000/books/{{ previous_book.pub_date }}">< {{ previous_book.pub_date }}</a>

    {% endif %}
        <a> </a>
    {% if not books_next.pub_date is None %}
        <a class="button button-primary" href="http://127.0.0.1:8000/books/{{ books_next.pub_date }}">{{ books_next.pub_date }} ></a>
    {% endif %}

    </div>
{% endblock %}